<section>
  <%= form_tag(@action, method: 'post') do %>
    <input type="hidden" name="_method" value="<%= @method %>">
    <div class="form-group">
      <label for="name" class="control-label">Name: </label>
      <input type="text" class="form-control" id="name" name="environment[name]" value="<%= @env.name %>">
      <span><%= @env.errors[:name].first %></span>
    </div>
    <div class="form-group">
      <label>Bucket: </label>
      <input type="text"
             class="form-control"
             id="bucket_name"
             name="environment[bucket_name]" value="<%= @env.bucket_name %>">
             <span> <%= @env.errors[:bucket_name].first %> </span>
    </div>
    <div class="form-group">
      <label>Region: </label>
      <%= render partial: 'shared/regions', locals: { model: :environment, field: :region } %>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  <% end %>
</section>
