<section id="project" data-id="<%= @project.id %>">
  <div class="form-group">
    <label>Name: </label>
    <span><%= @project.name %></span>
  </div>
  <div class="form-group">
    <label>Bucket: </label>
    <span><%= @project.bucket_name %></span>
  </div>
</section>
<div>
  <table class="table" id="envTable">
    <tr>
      <th>Environment</th>
      <th>Bucket</th>
      <th>Version</th>
      <th>
        <a href="<%= new_project_environment_path(@project) %>">
          <span class="btn btn-primary btn-sm glyphicon glyphicon-plus-sign"></span>
        </a>
      </th>
    </tr>
    <% @project.environments.each do |e| %>
      <tr>
        <td>
          <a href="<%= project_environment_path(@project, e) %>"><%= e.name %></a>
        </td>
        <td><%= e.bucket_name %></td>
        <td><span class="badge"><%= e.version %></span></td>
        <td class="center">
          <a href="/deploy?env=<%= e.id %>" class="btn btn-default btn-sm btn-deploy"
             data-project="<%= @project.id %>"
             data-id="<%= e.id %>">
             <span class="glyphicon glyphicon-transfer"></span>
          </a>
          <a class="btn btn-default btn-sm" href="/projects/<%= @project.id  %>/environments/<%= e.id %>/edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <button class="btn btn-danger btn-sm btn-remove-env"
             data-project="<%= @project.id %>"
             data-id="<%= e.id %>">
             <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    <% end %>
  </table>
</div>
