<section>
  <div class="form-group">
    <label>Name: </label>
    <span><%= @env.name %></span>
  </div>
  <div class="form-group">
    <label>Bucket: </label>
    <span><%= @env.bucket_name %></span>
  </div>
</section>
<div>
  <table class="table">
    <tr>
      <th>File</th>
      <th>key</th>
      <th>Value</th>
      <th></th>
    </tr>
    <tr>
      <%= form_tag '/replaces', method: :post do %>
        <input type="hidden" name="id" value="<%= @env.id %>">
        <input type="hidden" name="project_id" value="<%= @env.project.id %>">
        <td>
          <input id="file" name="replace[file]" class="form-control" value="<%= @replace.file %>">
          <span><%= @replace.errors[:file].first %></span>
        </td>
        <td>
          <input id="key" name="replace[key]" class="form-control" value="<%= @replace.key %>">
          <span><%= @replace.errors[:key].first %></span>
        </td>
        <td>
          <input id="value" name="replace[value]" class="form-control" value="<%= @replace.value %>">
          <span><%= @replace.errors[:value].first %></span>
        </td>
        <td>
          <button type="submit" class="btn btn-primary btn-sm">Add</button>
        </td>
      <% end %>
    </tr>
    <% @env.replaces.each do |r| %>
      <tr>
        <td><%= r.file %></td>
        <td><%= r.key %></td>
        <td><%= r.value %></td>
        <td>
          <%= link_to "/replaces/#{r.id}", data: { confirm: 'Deseja remover?' },
            method: :delete, class: 'btn btn-danger btn-sm' do  %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
