<tr data-id="{{id}}" class="replace-item">
  <td>{{file}}</td>
  <td>{{key}}</td>
  <td>{{value}}</td>
  <td>
    <span class="btn bt-link glyphicon glyphicon-remove btn-remove-rep" data-id="{{id}}"></span>
  </td>
</tr>

