<!DOCTYPE html>
<html>
  <head>
    <title>Deployer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container-fluid <%= controller_name %>_<%= action_name %>">
    <nav class="navbar navbar-default">
      <span class="navbar-brand">Deployer</span>
      <div class="dropdown">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                          data-toggle="dropdown"
                          role="button" aria-haspopup="true" aria-expanded="false">
                Projects
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/projects">List</a></li>
                <li><a href="/projects/new">New</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
