<!DOCTYPE html>
<html>
  <head>
    <title>Deployer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body class="container <%= controller_name %>_<%= action_name %>">
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
